
.card-field{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}
.card{
    max-width: 20rem;
    margin: 0 2rem;
}
.img{
    height: 20rem;
    width: 15rem;
}
.btn-toolbar{
    display: flex;
    justify-content:center;
    margin-top: 3rem;
    
}